# Ignoriere Download-Ordner mit den Rohdaten
best_of/
pic_grabber/
birds_training_dataset/
birds_training_dataset_shuffled_temp/
neue_bilder_downloads/
new_birds/

# Ignoriere Modell-Files mit den Rohdaten
*.keras
*.h5


