# Ignoriere Download-Ordner
best_of/
build/
dist/
pic_grabber/
birds_training_dataset/
birds_training_dataset_shuffled_temp/
neue_bilder_downloads/
new_birds/
test/
backlog/
error_images/
backup_db/
backup_modells/
wiki/

# Ignoriere Modell-Files/Database-Files
*.keras
*.h5
*.spec
*.db
debug_log.txt
weather_config.json
action_config.json